html {
  scroll-behavior: smooth;
}

* {
  font-family: "Montserrat", sans-serif;
  /* font-family: 'Bebas Neue', sans-serif; */
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: Arial, Helvetica, sans-serif; */
}
body {
  margin: 0;
}

.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px 100px;
}

.section.top {
  display: flex;
  justify-content: space-around;
  background-color: white;
  flex-direction: row;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  /* padding-bottom: 0;
  padding-top: 0; */
}

.top-right {
  /* text-align: right; */
  margin: 0;
  padding: 0;
  border-radius: 20%;
}

.top-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section.odd {
  display: flex;
  justify-content: center;
  background-color: white;
  flex-direction: column;
  text-align: left;
}

.section.even {
  display: flex;
  justify-content: center;
  background-color: #ffd580;
  flex-direction: column;
  text-align: left;
}

/* .section > .odd {
  text-align: center;
} */

.contact-button {
  display: inline;
  /* margin-left: auto;
  margin-right: auto; */
  width: 32px;
  /* vertical-align: ; */
}

* {
  box-sizing: border-box;
}

.tutor {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
/* .mySlides > img {
  display: none;
} */

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.row:after {
  content: "";
  display: flex;
  clear: both;
}

/* Six columns side by side */
.column {
  /* border-radius: 20%; */
  float: left;
  width: 20%;
}

.arrow {
  /* width: 9%; */

  /* float: left; */

  /* height: 100%; */
  text-align: center;
  vertical-align: middle;
  width: 9%;
}

.arrow:hover {
  opacity: 0.6;
  cursor: pointer;
}

/* .left {
  rotate: 180deg;;
} */

.arrow img {
  height: 30px;
  /* vertical-align: middle; */
}

.column img {
  border-radius: 10%;
  padding: 10px;
  /* height: 200px; */
  /* object-fit: cover; */
  /* object-position: 50% 30%; */
}

#tutors {
  display: block;
  width: 100%;

  height: 680px;
  /* overflow: scroll; */
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.topbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  z-index: 1;
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: orange;
  overflow: hidden;
  list-style-type: none;
}

.top-bar-items {
  display: flex;
  /* justify-content: space-around; */
  margin: 0;
  margin-left: 65px;
  padding: 0;
  list-style-type: none;
  /* justify-content: ; */
  float: left;
  /* width: 90%; */
  list-style-type: none;

  overflow: hidden;
  background-color: orange;

  /* width: 100%; */
}

.topbar-item {
  float: left;
  display: block;
  color: white;
  font-weight: bold;
  text-align: center;
  margin: 0px 16px;
  padding: 14px 20px;
  /* marg */
  text-decoration: none;
}
.topbar-item:hover {
  background-color: #222;
  /* border-radius: 10%; */
}

.call-contact-button {
  border: none;

  width: 400px;
  height: 60px;
  border-radius: 5px;
  background-color: cornflowerblue;
  color: white;
  font-weight: bold;
  /* text-decoration: bold; */
  /* text-decoration: none; */
  margin-bottom: 40px;
  box-shadow: 5px 5px lightblue;
}

.whatsapp-contact-button {
  border: none;
  width: 400px;
  height: 60px;
  border-radius: 5px;
  background-color: green;
  color: white;
  font-weight: bold;
  /* text-decoration: bold; */
  /* text-decoration: none; */
  margin-bottom: 40px;
  box-shadow: 5px 5px lightblue;
}

.email-contact-button {
  border: none;
  width: 400px;
  height: 60px;
  border-radius: 5px;
  background-color: rgb(112, 173, 22);
  color: white;
  font-weight: bold;
  /* text-decoration: bold; */
  /* text-decoration: none; */
  margin-bottom: 40px;
  box-shadow: 5px 5px lightblue;
}

button:hover {
  box-shadow: 10px 10px lightblue;
  cursor: pointer;
  /* opacity: 0.6; */
}

.bottom {
  background-color: #222;
  color: grey;
}

.bottom a {
  /* text-decoration: none; */
  /* color: grey; */
  /* text-decoration:underline; */
}

#contact {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.social-link:hover {
  cursor: pointer;
  /* filter: brightness(250%); */
}

.contact-link {
  text-decoration: none;
  color: white;
}

.contact-link:hover {
  text-decoration: underline;
}

.top-socials-section {
  margin-right: 90px;
  /* vertical-align: center; */
  /* width: 2%; */
  /* width: ; */
}

.social-link-top {
  margin: 14px 20px;
  padding: 0px 0px;
  /* font-size: 20px; */
  /* height: 30px; */
  /* width: 30px; */

  text-decoration: none;

  color: white;
}

.social-link-top:hover {
  text-decoration: underline;
  /* background-color: none; */
  /* box-shadow: 5px 5px 5px grey; */
}

.social-link {
  padding: 20px;
  font-size: 70px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 10px;
  color: white;
  box-shadow: 5px 5px lightblue;
}

.social-link:hover {
  /* opacity: 0.7; */
  /* text-shadow: 5px 5px white;
     */
  box-shadow: 10px 10px lightblue;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-instagram {
  background-image: linear-gradient(to top right, #f9ce34, #ee2a7b, #6228d7);
  /* background-color: red; */
}

.fa-whatsapp {
  background: #25d366;
  color: white;
}

.fb-top {
  background: none;
  color: white;
}

.in-top {
  /* background-image: linear-gradient(to top right, #f9ce34, #ee2a7b, #6228d7); */
  /* background-color: red; */
  background: none;
  color: white;
}

.wa-top {
  /* background: #25D366; */
  background: none;
  color: white;
}
