html {
  scroll-behavior: smooth;
}

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

#bottom, .even, .odd, #home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px 100px;
}

#home {
  display: flex;
  justify-content: space-around;
  background-color: white;
  flex-direction: row;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.odd {
  display: flex;
  justify-content: center;
  background-color: white;
  flex-direction: column;
  text-align: left;
}

.even {
  display: flex;
  justify-content: center;
  background-color: #ffd580;
  flex-direction: column;
  text-align: left;
}

#bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #222;
  color: grey;
}

#tutors {
  display: block;
  width: 100%;
  height: 680px;
}

#contact {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.top-right {
  margin: 0;
  padding: 0;
  border-radius: 20%;
}

.top-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-button {
  display: inline;
  width: 32px;
}

.container {
  position: relative;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.row:after {
  content: "";
  display: flex;
  clear: both;
}

.column {
  float: left;
  width: 20%;
}

.arrow {
  text-align: center;
  vertical-align: middle;
  width: 9%;
}

.arrow:hover {
  opacity: 0.6;
  cursor: pointer;
}

.arrow img {
  height: 30px;
}

.column img {
  border-radius: 10%;
  padding: 10px;
}

.demo {
  opacity: 0.6;
  cursor: pointer;
}

.active,
.demo:hover {
  opacity: 1;
}

.topbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  z-index: 1;
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: orange;
  overflow: hidden;
  list-style-type: none;
}

.section-links {
  display: flex;
  margin: 0;
  margin-left: 65px;
  padding: 0;
  list-style-type: none;
  float: left;
  list-style-type: none;
  overflow: hidden;
  background-color: orange;
}

.topbar-item {
  float: left;
  display: block;
  color: white;
  font-weight: bold;
  text-align: center;
  margin: 0px 16px;
  padding: 14px 20px;
  text-decoration: none;
}

.topbar-item:hover {
  background-color: #222;
}

.email-contact-button, .whatsapp-contact-button, .call-contact-button {
  border: none;
  width: 400px;
  height: 60px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin-bottom: 40px;
  box-shadow: 5px 5px lightblue;
}

.email-contact-button:hover, .whatsapp-contact-button:hover, .call-contact-button:hover {
  box-shadow: 10px 10px lightblue;
  cursor: pointer;
}

.call-contact-button {
  background-color: cornflowerblue;
}

.whatsapp-contact-button {
  background-color: green;
}

.email-contact-button {
  background-color: #315b7d;
}

.social-link:hover {
  cursor: pointer;
}

.contact-link {
  text-decoration: none;
  color: white;
}

.contact-link-items {
  display: flex;
  flex-direction: column;
}

.contact-link:hover,
.social-link-top:hover {
  text-decoration: underline;
}

.top-socials-section {
  margin-right: 90px;
}

.social-link-items {
  display: flex;
  flex-direction: row;
  width: 400px;
  justify-content: space-evenly;
}

.social-link-top {
  margin: 14px 20px;
  padding: 0px 0px;
  text-decoration: none;
  color: white;
}

.social-link {
  padding: 20px;
  font-size: 70px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 10px;
  color: white;
  box-shadow: 5px 5px lightblue;
}

.social-link:hover {
  box-shadow: 10px 10px lightblue;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-instagram {
  background-image: linear-gradient(to top right, #f9ce34, #ee2a7b, #6228d7);
}

.fa-whatsapp {
  background: #25d366;
  color: white;
}

.fb-top {
  background: none;
  color: white;
}

.in-top {
  background: none;
  color: white;
}

.wa-top {
  background: none;
  color: white;
}

/*# sourceMappingURL=styles.css.map */